<template>
    <v-app>
        <v-app-bar class="grey darken-4" app>
            <v-toolbar-title class="subtitle-1">
                <span class="white--text">Project Dashboard</span>
                <span class="font-weight-light white--text"> v1.0</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>

        <v-content transition="slide-x-transition">
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'App',
    data: () => ({
        //
    }),
    computed: mapState(['loading'])
};
</script>
