<template>
    <div>
        <OrganizationDetails></OrganizationDetails>
    </div>
</template>

<script>
import OrganizationDetails from '../components/OrganizationDetails';

export default {
    components: {
        OrganizationDetails
    }
};
</script>
