<template>
    <v-container>
        <h1 body-1 font-weight-bold mb-6>
            <v-layout text-center wrap>
                <v-flex>
                    Commits for past 30 days in
                    {{ this.$store.state.orgName }} from
                    {{ orgCommits.length }} authors.
                </v-flex>
                <v-flex>
                    <v-card
                        class="mx-auto"
                        v-for="(item, idx) in orgCommits"
                        :key="idx"
                    >
                        <v-list-item>
                            <v-list-item-title>
                                {{ item.author }}
                            </v-list-item-title>
                            <v-list-item-subtitle
                                v-for="(repoCommit, key, idx) in item.commits"
                                :key="idx"
                            >
                                Made {{ repoCommit.length }} commits to Repo:
                                {{ key }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </v-card>
                </v-flex>
            </v-layout>
        </h1>
    </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'Commits',
    computed: mapState(['orgCommits']),
    methods: {
        getJSON(item) {
            return JSON.stringify(item);
        }
    }
};
</script>
