<template>
    <v-container fill-height>
        <v-layout text-center wrap>
            <v-flex>
                <v-card>
                    <h1 body-1 font-weight-bold mb-3 v-if="organization.name">
                        {{ organization.name }}
                    </h1>
                    <h1 body-1 font-weight-bold mb-3 v-if="!organization.name">
                        Not able to find an organization. Please try another
                        name
                    </h1>
                    <p></p>
                    <p v-if="organization.description">
                        Bio : {{ organization.description }}
                    </p>
                    <p v-if="organization.location">
                        Location: {{ organization.location }}
                    </p>
                    <p v-if="organization.publicRepoCount">
                        Public Repos: {{ organization.publicRepoCount }}
                    </p>
                </v-card>

                <div v-if="organization.name" class="text-center">
                    <v-btn
                        class="grey darken-4 white--text"
                        @click="getCommits()"
                        to="/orgcommits"
                        >See Commits</v-btn
                    >
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'Organization',
    computed: mapState(['organization']),
    methods: {
        async getCommits() {
            try {
                await this.$store.dispatch(
                    'getOrganizationCommits',
                    this.$store.state.orgName
                );
            } catch (error) {
                this.resetState;
            }
        }
    }
};
</script>
