<template>
    <v-container>
        <v-layout text-center wrap>
            <v-flex xs12>
                <v-img
                    :src="require('../assets/github_logo.png')"
                    class="my-3"
                    contain
                    height="80"
                ></v-img>
            </v-flex>

            <v-flex mb-4>
                <h1 class="body-1 font-weight-bold mb-3">
                    Please enter an Organization's name that hosts their
                    repositories on GitHub (ex: GitHub, Octokit )
                </h1>
                <v-text-field
                    label="Organization Name"
                    v-model="orgName"
                    single-line
                    outlined
                ></v-text-field>
                <div class="text-center">
                    <v-btn
                        class="grey darken-4 white--text"
                        @click="
                            setOrgName(orgName);
                            getOrganization(orgName);
                        "
                        to="/organization"
                        >Search</v-btn
                    >
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'Search',
    data: function() {
        return {
            orgName: null
        };
    },
    methods: {
        setOrgName(orgName) {
            this.$store.commit('setOrgName', orgName);
        },
        async getOrganization(orgName) {
            try {
                await this.$store.dispatch('getOrganization', orgName);
            } catch (error) {
                this.resetState;
            }
        },
        resetState() {
            this.$store.commit('resetState');
        }
    },
    beforeMount() {
        this.resetState();
    }
};
</script>
